<html>
<head>
    <meta charset="utf8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form action="/cmdb/login/" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="user" placeholder="用户名">
        </p>
        <p>
            <input type="text" name="pwd" placeholder="密码">
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>