<html>
<head>
    <meta charset="utf8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form action="/login/" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="user" placeholder="用户名">
        </p>
        <p>
                <input type="text" name="pwd" placeholder="密码">
        </p>
        <p>
            男:<input type="radio" name="gender" value="1">
            女:<input type="radio" name="gender" value="2">
            邹:<input type="radio" name="gender" value="3">
        </p>
        <p>
            男:<input type="checkbox" name="favor" value="11">
            女:<input type="checkbox" name="favor" value="22">
            邹:<input type="checkbox" name="favor" value="32">
        </p>
        <p>
            <select name="city" multiple>
                <option value="sh">上海</option>
                <option value="bj">北京</option>
                <option value="tj">天津</option>
            </select>
        </p>
        <p>
            <input type="file" name="fafafa">
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>